<a
    href="#!"
    class="btn-outline w-190 h-50 bor bor-1 rounded-35 d-inline-flex content-center"
    style="font-size: 1.6rem; font-weight: 600; border-color: black;"
>
    {{ btn_name |  default: 'Button Outline' }}
</a>