<a 
    href="{{ btn_link |  default: '#!' }}"
    class="w-190 h-50 rounded-35 d-inline-flex content-center bg-black color-white "
    style="font-size: 1.6rem; font-weight: 600;"
>
    {{ btn_name |  default: 'Button Primary' }}
</a>