{% for block in section.blocks %}
    {% if block.type == 'list_collection' %}
        {% assign collection = block.settings.collection %}
        <div class="list-item{% if collection.url == blank %} not-allowed{% endif %}">
            <a class="list-link d-flex jc-between{% if collection.url == blank %} pointer-none{% endif %}" href="{{ collection.url }}">
                <span class="list-name">
                    {% if collection.title %}{{ collection.title }}{% else %}Collection Name{% endif %}
                </span>
                <span class="list-icon">
                    <svg width="6" height="10" viewBox="0 0 6 10">
                        <use href="#icon-next"></use>
                    </svg>
                </span>
            </a>
        </div>
    {% endif %}
{% endfor %}