<div class="slider-perv opacity-0 absolute top-center left-0">
    <span class="perv-color pointer d-flex content-center w-45 h-45 rounded-50p">
        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.46875 8.86328L1.9375 5.33203L5.46875 1.80078C5.60417 1.67578 5.67188 1.52474 5.67188 1.34766C5.67188 1.16016 5.60417 0.998698 5.46875 0.863281C5.34375 0.738281 5.1875 0.675781 5 0.675781C4.8125 0.675781 4.65625 0.738281 4.53125 0.863281L0.53125 4.86328C0.395833 4.9987 0.328125 5.16016 0.328125 5.34766C0.328125 5.52474 0.395833 5.67578 0.53125 5.80078L4.53125 9.80078C4.65625 9.9362 4.8125 10.0039 5 10.0039C5.1875 10.0039 5.34375 9.9362 5.46875 9.80078C5.60417 9.67578 5.67188 9.52474 5.67188 9.34766C5.67188 9.16016 5.60417 8.9987 5.46875 8.86328Z" fill="currentColor"/>
        </svg>
    </span>
</div>

<div class="slider-next opacity-0 absolute top-center right-0">
    <span class="next-color pointer d-flex content-center w-45 h-45 rounded-50p">
        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.46875 9.80078L5.46875 5.80078C5.60417 5.67578 5.67188 5.52474 5.67188 5.34766C5.67188 5.16016 5.60417 4.9987 5.46875 4.86328L1.46875 0.863281C1.34375 0.738281 1.1875 0.675781 1 0.675781C0.8125 0.675781 0.65625 0.738281 0.53125 0.863281C0.395833 0.998698 0.328125 1.16016 0.328125 1.34766C0.328125 1.52474 0.395833 1.67578 0.53125 1.80078L4.0625 5.33203L0.53125 8.86328C0.395833 8.9987 0.328125 9.16016 0.328125 9.34766C0.328125 9.52474 0.395833 9.67578 0.53125 9.80078C0.65625 9.9362 0.8125 10.0039 1 10.0039C1.1875 10.0039 1.34375 9.9362 1.46875 9.80078Z" fill="currentColor"/>
        </svg>   
    </span>
</div>