<swiper-prev class="absolute top-center left-0 z-2 opacity-0">
    <span class="prev-color pointer d-flex content-center w-45 h-45 rounded-50p">
        <svg width="6" height="10" viewBox="0 0 6 10">
            <use href="#icon-prev"></use>
        </svg>
    </span>
</swiper-prev>

<swiper-next class="absolute top-center right-0 z-2 opacity-0">
    <span class="next-color pointer d-flex content-center w-45 h-45 rounded-50p">
        <svg width="6" height="10" viewBox="0 0 6 10">
            <use href="#icon-next"></use>
        </svg>
    </span>
</swiper-next>