<div class="swiper-prev opacity-0 absolute top-center left-0 z-2">
    <span class="prev-color pointer d-flex content-center w-45 h-45 rounded-50p">
        <svg width="6" height="10" viewBox="0 0 6 10">
            <use href="#icon-prev"></use>
        </svg>
    </span>
</div>

<div class="swiper-next opacity-0 absolute top-center right-0 z-2">
    <span class="next-color pointer d-flex content-center w-45 h-45 rounded-50p">
        <svg width="6" height="10" viewBox="0 0 6 10">
            <use href="#icon-next"></use>
        </svg>
    </span>
</div>