{% liquid
    assign block_st = block.settings

    assign heading = block_st.heading
%}

<div class="block__heading" {{ block.shopify_attributes }}>
    {{ heading | default: 'Heading' }}
</div>

{%  schema  %}
{
    "name": "Heading",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
        }
    ],
    "presets": [
        {
            "name": "Heading"
        }
    ]
}
{% endschema %}