{% liquid
    assign block_st = block.settings

    assign text = block_st.text
%}

<div class="block__text" {{ block.shopify_attributes }}>
    {{ text | default: 'Text' }}
</div>

{%  schema  %}
{
    "name": "Text",
    "settings": [
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Text</p>"
        }
    ],
    "presets": [
        {
            "name": "Text"
        }
    ]
}
{% endschema %}