.defaul,
.stretch-width,
.fluid-container,
.full-width {
  max-width: 100%;
  padding: 0 var(--px-section);
}

.section__pt {
  padding-top: calc(var(--section-pt) * 0.1rem);
}

.section__pb {
  padding-bottom: calc(var(--section-pb) * 0.1rem);
}

.section__spacing_sections {
  margin-bottom: var(--spacing-sections-mobile);
}

.section__bg-color {
  background-color: var(--section-bg-color);
}

.txt-align-title-faq {
  text-align: var(--txt-align-title-faq);
}

.fs-title-faq {
  font-size: calc(var(--fs-title-faq) * 0.1rem);
}

.fw-title-faq {
  font-weight: var(--fw-title-faq);
}

.fs-subtitle-faq {
  font-size: calc(var(--fs-subtitle-faq) * 0.1rem);
}

.fw-subtitle-faq {
  font-weight: var(--fw-subtitle-faq);
}

.mt-subtitle-faq {
  margin-top: calc(var(--mt-subtitle-faq) * 0.1rem);
}

/* ============================== */
h1, h2, h3, h4, h5, p {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

.mb-0 {
    margin-bottom: 0;
}