/* =============== Reset ================ */
h1, h2, h3, h4, h5, p {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

/* =============== HTMLElement Customize ================ */
collapse-wrapper, collapse-toggle, collapse-content {
  display: block;
}

/* =============================== */
.defaul,
.stretch-width,
.fluid-container,
.full-width {
  max-width: 100%;
  padding: 0 var(--px-section);
}

.section__py {
  padding-top: calc(var(--section-pt) * 0.1rem);
  padding-bottom: calc(var(--section-pb) * 0.1rem);
}

.section__spacing-sections {
  margin-bottom: var(--spacing-sections-mobile);
}

.heading-faq__text-style {
  font-size: calc(var(--fs-heading-faq) * 0.1rem);
  font-weight: var(--fw-heading-faq);
}

.description-faq__text-style {
  font-size: calc(var(--fs-description-faq) * 0.1rem);
  font-weight: var(--fw-description-faq);
}

.description-faq__spacing {
  margin-top: calc(var(--spacing-description-faq) * 0.1rem);
}

.collapse-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.collapse-content > p {
  line-height: 2;
}

/* ============================== */
/* === Text Align === */
.text-left {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: end;
}

/* === Display === */
.d-flex {
  display: flex;
}

/* === Align Items === */
.ai-center {
  align-items: center;
}

/* === Justify Content === */
.jc-between {
  justify-content: space-between;
}

/* === Cursor === */
.pointer {
  cursor: pointer;
}

/* === Border === */
.bor-bot {
  border-bottom: transparent solid;
}

.bor-1 {
  border-width: 0.1rem;
}

/* === Margin === */
.mt-20 {
  margin-top: 2rem;
}

.mb-0 {
  margin-bottom: 0;
}