/* =============== Reset ================ */
h1, h2, h3, h4, h5, p {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

button {
  background: none;
  border: none;
  font: inherit;
  padding: 0;
}

/* =============== HTMLElement Customize ================ */
collapse-wrapper, collapse-toggle, collapse-content,
comp-container, comp-before, comp-after {
  display: block;
}

/* =============================== */
.defaul,
.stretch-width,
.fluid-container,
.full-width {
  max-width: 100%;
  padding: 0 var(--px-section);
}

.section__py {
  padding-top: calc(var(--section-pt) * 0.1rem);
  padding-bottom: calc(var(--section-pb) * 0.1rem);
}

.section__spacing-sections {
  margin-bottom: var(--spacing-sections-mobile);
}

.heading__fs {
  font-size: calc(var(--fs-heading) * 0.1rem);
}

.heading__fw {
  font-weight: var(--fw-heading);
}

.description__fs {
  font-size: calc(var(--fs-description) * 0.1rem);
}

.description__fw {
  font-weight: var(--fw-description);
}

.description__spacing {
  margin-top: calc(var(--spacing-description) * 0.1rem);
}

.collapse-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.collapse-content > p {
  line-height: 2;
}

/* ============================== */
/* === Cursor === */
.pointer {
  cursor: pointer;
}

/* === Overflow === */
.overflow-hidden {
  overflow: hidden;
}

/* === Background === */
.bg-white {
  background-color: white;
}

/* === Text Align === */
.text-left {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: end;
}

.txt-no-select {
  user-select: none;
}

/* === Image === */
.img-cover {
  object-fit: cover;
}

/* === Ratio === */
.ratio-square {
  aspect-ratio: 1/1;
}

.ratio-portrait {
  aspect-ratio: 3/4;
}

.ratio-landscape {
  aspect-ratio: 4/3;
}

.ratio-custom {
  aspect-ratio: var(--ratio-custom);
}

/* === Display === */
.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.content-center {
  justify-content: center;
  align-items: center;
}

/* === Gap === */
.gap-20 {
  gap: 2rem;
}

/* === Align Items === */
.ai-center {
  align-items: center;
}

/* === Justify Content === */
.jc-between {
  justify-content: space-between;
}

/* === Flex === */
.f-1 {
  flex: 1;
}

.f-wrap {
  flex-wrap: wrap;
}

.order-1 {
  order: 1;
}

.column {
  flex-direction: column;
}

/* === Position === */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* === Z-index === */
.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

/* === Width === */
.w-full {
  width: 100%;
}

.w-30 {
  width: 3rem;
}

/* === Height === */
.h-full {
  height: 100%;
}

.h-50 {
  height: 5rem;
}

/* === Border === */
.bor-bot {
  border-bottom: transparent solid;
}

.bor-1 {
  border-width: 0.1rem;
}

.rounded-10 {
  border-radius: 1rem;
}

.rounded-35 {
  border-radius: 3.5rem;
}

/* === Clip Path === */
.clip-left-50p {
  clip-path: inset(0 50% 0 0);
}

/* === Margin === */
/* Margin Top */
.mt-20 {
  margin-top: 2rem;
}

/* Margin Bottom */
.mb-0 {
  margin-bottom: 0;
}

/* === Top === */
.top-0 {
  top: 0;
}

/* === Left === */
.left-center {
  left: 50%;
  transform: translateX(-50%);
}

.left-0 {
  left: 0;
}

/* =================== */
/* =================== */
comp-before::before,
comp-after::after {
  background: #fff;
  height: 3rem;
  width: 9rem;
  border-radius: 3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  position: absolute;
  display: var(--show-label);
}

comp-before::before {
  content: "BEFORE";
  top: 2rem;
  left: 2.5rem;
}

comp-after::after {
  content: "AFTER";
  right: 2.5rem;
  bottom: 2rem;
}


comp-btn::before {
  content: "";
  background-color: white;
  width: 0.2rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}