.heading-small {
  color: rgba(var(--color-heading), 1);
  font-size: clamp(2.6rem, calc(2.4846rem + 0.2685vw), 3rem);
  font-weight: 600;
}

.heading-medium {
  color: rgba(var(--color-heading), 1);
  font-size: clamp(3rem, calc(2.7114rem + 0.6711vw), 4rem);
  font-weight: 600;
}

.heading-large {
  color: rgba(var(--color-heading), 1);
  font-size: clamp(4rem, calc(3.4228rem + 1.3423vw), 6rem);
  font-weight: 600;
}

.subheading-small {
  color: rgba(var(--color-subheading), 1);
  font-size: 1.7rem;
  font-weight: 500;
}

.subheading-medium {
  color: rgba(var(--color-subheading), 1);
  font-size: 1.8rem;
  font-weight: 500;
}

.subheading-large {
  color: rgba(var(--color-subheading), 1);
  font-size: 1.9rem;
  font-weight: 500;
}
