@media (min-width: 768px) {
    .hover-zoom-out {
        transition: transform, 0.6s ease-in-out;
    }

    .wrapper-hover:hover .hover-zoom-out {
        transform: scale(1.1);
    }

    .hover-hidden {
        transition: opacity, 0.6s ease-in-out;
    }

    .wrapper-hover:hover .hover-hidden {
        opacity: 0;
    }

    .hover-appear {
        opacity: 0;
        transition: opacity, 0.6s ease-in-out;
    }

    .wrapper-hover:hover .hover-appear {
        opacity: 1;
    }

    .hover-up {
        transform: translateY(0);
        transition: transform, 0.6s ease-in-out;
    }

    .wrapper-hover:hover .hover-up {
        transform: translateY(-2rem);
    }

    .hover-left {
        transform: translateX(0);
        transition: transform, 0.6s ease-in-out;
    }

    .wrapper-hover:hover .hover-left {
        transform: translateX(-2rem);
    }
}