@media (min-width: 576px) {
  .d-sm-block {
    display: block;
  }

    .d-sm-none {
    display: none;
  }
}

@media (min-width: 992px) {
  .row-lg {
    flex-direction: row;
  }

  .w-lg-block {
    width: calc(var(--width-block) * 1% );
  }
}

@media (min-width: 1025px) {
  .defaul {
    max-width: calc(var(--page-width) + var(--px-section) * 2);
    margin-inline: auto;
  }

  .stretch-width {
    max-width: 90%;
    padding: 0;
    margin-inline: auto;
  }
}

@media (min-width: 1200px) {
  .fluid-container {
    max-width: calc(var(--fluid-container) + var(--px-section) * 2);
    margin-inline: auto;
  }

  .section__spacing-sections {
    margin-bottom: var(--spacing-sections-pc);
  }
}

